<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/index.js"> -->
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/navigationheader.css">
    <link rel="stylesheet" href="/css/generallayouting.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <title>Search</title>
</head>

<body>
    
    <%- include('./navigationheader.ejs') %>
    <div class="wrapper">
        <div id="container-overview">
            <div id="subcontainer-overview">
                <img src="/images/interaction.jpg" alt="" id="img-overview">
                <div id="container-expl">
                    <h1>SEARCH</h1>
                    <p>Di halaman ini, Anda dapat melakukan pencarian nama karakter dan mendapatkan karakter-karakter yang dihubunginya beserta jumlahnya.</p>
                    <p><i class="fa fa-angle-double-down" aria-hidden="true"></i> Scroll ke bawah untuk melihat.</p>
                </div>
            </div>
        </div>
        <h1 id="page-title">PENCARIAN KARAKTER PADA BUKU <span id="span-booknum"></span></h1>
        <form action="/search/1">
            <div class="select_book">
                <label for="select-book">Buku: </label>
                <select name="book" id="select-book">
                    <% for( const row of numBooks ) { %>
                        <option value="<%= row.book %>" <%=(numBook==row.book)?"selected":"" %>>Book <%= row.book %>
                        </option>
                        <% } %>
                </select>
            </div>
            <input type="text" name="source" value="<%= source %>">
            <input type="submit" value="Cari">
        </form>
        <div class="show-table">
            <%- include("./layout/pagination") %>
                <!--Pagination belum dapat digunakan-->
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Source</th>
                            <th>Target</th>
                            <th>Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(const row of results) { %>
                            <tr>
                                <td>
                                    <%= row.source %>
                                </td>
                                <td>
                                    <%= row.target %>
                                </td>
                                <td id="weight">
                                    <%= row.weight %>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
        </div>
    </div>
</body>

</html>